<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuanLySanXuat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QuanLySanXuat.Properties.Settings.NKVConnectionString" connectionString="Data Source=192.168.1.100;Initial Catalog=NKV;Persist Security Info=True;User ID=sa;Password=Ngochoa123" providerName="System.Data.SqlClient"/>
        <add name="NKVConnectionString" connectionString="XpoProvider=MSSqlServer;data source=192.168.1.100;user id=;password=;initial catalog=NKV;Persist Security Info=true"/>
        <add name="QuanLySanXuat.Properties.Settings.NKVConnectionString1" connectionString="Data Source=SERVER;Initial Catalog=NKV;Persist Security Info=True;User ID=sa;Password=Ngochoa123" providerName="System.Data.SqlClient"/>
        <add name="QuanLySanXuat.Properties.Settings.NKVConnectionString2" connectionString="Data Source=server;Initial Catalog=NKV;Persist Security Info=True;User ID=sa;Password=Ngochoa123" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <QuanLySanXuat.Properties.Settings>
            <setting name="KhachHang" serializeAs="String">
                <value>excelDataSource1</value>
            </setting>
        </QuanLySanXuat.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
